/* div#b1{
    height: 70vh;
    width: 98   vw;
    border: 3px solid black;
    background-size: cover;
    background-image: url(https://media.rolex.com/image/upload/q_auto:eco/f_auto/t_v7/c_limit,w_1200/v1/catalogue/2025/showcase/m228238-0042    );
    background-position: center;
    background-repeat: no-repeat;
    position: static;
} */

/* .slider-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 300px;
}

.slider img {
  width: 300px;
  transition: transform 0.5s ease;
}

button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}


#s{
    font-size: 300%;
    background-color: #000;
    color: aliceblue;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.slider {
  width: 100vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slides img {
  width: 98%;
  height: 100%;
  object-fit: cover;
}

/* Navigation buttons */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 20px; }
.next { right: 20px; }

.nav:hover {
  background: rgba(0,0,0,0.8);
}


div#b0{
    height: 10em;
    width: 98vw;
    border: 3px solid black;
    background-image:url(images rr.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: static;
    margin-bottom: 5px;
}


/* ul{
    list-style:disc ;
    list-style-position: inside;
    font-style: normal;
    font:normal;
    font-size: normal;
    font-display: inline block;
    color: gold;
    text-align:left ;
    margin-left: 87em;
} */

div#b2{
    position:sticky ;
    top: 5px;
    margin-top: 5px;
    border:3px solid black ;
    background-color: black;
    height: max-content;
    width: 98vw;
    font-size: 300%;
    text-align: center;
    color: goldenrod;
}

a{ 
    position: fixed;   /* always visible */
    bottom: 60px;      /* distance from bottom */
    right: 40px;       /* distance from right */
    background-color: #000;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
}

/* Hover effect */
a:hover {
    opacity: 1;
    transform: scale(1.1);
}

a {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #000;
    color: white;
    transition: 0.3s;
}



a:hover {
    transform: scale(1.1);
    background: #000;
    width: auto;
}

#b3{
    border: #000 solid 3px;
    border-radius: 6px;
    background-color: white;
    margin-top: 16px;
    width: 98vw;
    height: 10%;
    color: black;
    position: relative;
    background-position: center;
}

marquee{
    padding-right: 75vw;
}

#b4{
     margin-right: auto;
    margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.tinyjewelbox.com/upload/rolex_v7/product/landscape/slide2_m126610ln-0001.webp);
}

#b5{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.kernjewelers.com/upload/rolex_v7/product/landscape/slide2_m126900-0001.webp);
}

#b6{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://knar.com/cdn/shop/files/slide2_landscape_m276200-0010.jpg?v=1747272270&width=2000);
}

#b7{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.finks.com/cdn/shop/files/m126503-0003-third_8ad9ff75-3078-4ba3-b887-c6fa4448300b_1200x1200.jpg?v=1746073831);
}

#b8{
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.kernjewelers.com/upload/rolex_v7/product/landscape/slide2_m226570-0001.webp);
     margin-right: auto;
}

#b9{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.kernjewelers.com/upload/rolex_v7/product/landscape/slide2_m126711chnr-0002.webp);
}

section{
    margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: max-content;
    font: Times New Roman;
    text-align: center;
    background-color: aliceblue;
    color: black;
}
