div#b1{
    height: 70vh;
    width: 98   vw;
    border: 3px solid black;
    background-size: cover;
    background-image: url(https://magazine.chrono24.com/cdn-cgi/image/f=auto,metadata=none,fit=cover,q=65,w=1190,h=595,dpr=2.0/2021/10/Rolex-Submariner-Magazin-2-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: static;
}

#s{
    font-size: 300%;
    background-color: #000;
    color: aliceblue;
}

div#b0{
    height: max-content;
    width: 98vw;
    border: 3px solid black;
    background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20240102/pngtree-luxurious-black-carbon-texture-with-a-touch-of-gold-border-image_13908842.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: static;
    margin-bottom: 5px;
}

h1{
    font-style: normal;
    font:Times New Roman;
    font-size: bold;
    font-display: inline block;
    color: gold;
    text-align:center;
    letter-spacing: 5px;
}

/* ul{
    list-style:disc ;
    list-style-position: inside;
    font-style: normal;
    font:normal;
    font-size: normal;
    font-display: inline block;
    color: gold;
    text-align:left ;
    margin-left: 87em;
} */

div#b2{
    position:sticky ;
    top: 5px;
    margin-top: 5px;
    border:3px solid black ;
    background-color: black;
    height: max-content;
    width: 98vw;
    font-size: 300%;
    text-align: center;
    color: goldenrod;
}

a{ 
    position: fixed;   /* always visible */
    bottom: 40px;      /* distance from bottom */
    right: 40px;       /* distance from right */
    background-color: #000;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
}

/* Hover effect */
a:hover {
    opacity: 1;
    transform: scale(1.1);
}

a {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #000;
    color: white;
    transition: 0.3s;
}

/* Left Button */
.right-btn {
    width: auto !important;
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 90px;
    right: 20px;
    left: auto !important;  /* Stops it from stretching to the right */
    bottom: 90px;
}

/* Right Button */
/* .right-btn {
    position: fixed;
    right: 20px;
    bottom: 90px;
} */

a:hover {
    transform: scale(1.1);
    background: #000;
    width: auto;
}

#b3{
    border: #000 solid 3px;
    border-radius: 6px;
    background-color: white;
    margin-top: 16px;
    width: 98vw;
    height: 10%;
    color: black;
    position: relative;
    background-position: center;
}

marquee{
    padding-right: 75vw;
}

#b4{
     margin-right: auto;
    margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.tinyjewelbox.com/upload/rolex_v7/product/landscape/slide2_m126610ln-0001.webp);
}

#b5{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.kernjewelers.com/upload/rolex_v7/product/landscape/slide2_m126900-0001.webp);
}

#b6{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://knar.com/cdn/shop/files/slide2_landscape_m276200-0010.jpg?v=1747272270&width=2000);
}

#b7{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.finks.com/cdn/shop/files/m126503-0003-third_8ad9ff75-3078-4ba3-b887-c6fa4448300b_1200x1200.jpg?v=1746073831);
}

#b8{
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.kernjewelers.com/upload/rolex_v7/product/landscape/slide2_m226570-0001.webp);
     margin-right: auto;
}

#b9{
     margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: 1000px;
    background-image: url(https://www.kernjewelers.com/upload/rolex_v7/product/landscape/slide2_m126711chnr-0002.webp);
}

section{
    margin-right: auto;
     margin-left: auto;
    border: #000 solid 3px;
    border-radius: 6px;
    margin-top: 5px;
    width: 70vw;
    height: max-content;
    font: Times New Roman;
    text-align: center;
    background-color: aliceblue;
    color: black;
}
